<div id="body">

  <div [@openClose]="isOpen ? 'open' : 'closed'" (mouseover)="stopInterval()" (mouseout)="startInterval()"
    id="chat-circle" class="btn btn-raised" (click)="toggleChatBox()" *ngIf="showChatIcon">
    <div id="chat-overlay"></div>
    <!-- <img src="assets/images/chat-icon-latest.png" alt="Computer Hope"> -->
    <i class="material-icons">chat</i>
  </div>

  <div class="chat-box" *ngIf="showChatBox">
    <div class="chat-box-header">
      UMKC <span class="roo">Roo's</span> Bot
      <span class="chat-box-toggle"><i class="material-icons" (click)="toggleChatBox()">close</i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">
      </div>
      <div class="chat-logs" #displayMsg>
        
      </div>
      <div *ngIf="showTyping" class="roo-typing">Roo's Bot is typing...</div>
      <!--chat-log -->
    </div>
    <div class="chat-input">
      <form>
        <input type="text" id="chat-input" autocomplete="off" #inputMsg placeholder="Send a message..." />
        <button type="submit" class="chat-submit" id="chat-submit" (click)="sendMessage(inputMsg.value)">
          <i class="material-icons">send</i>
        </button>
      </form>
    </div>
  </div>




</div>