<main>
  <div class="container-fluid">
    <div class="site-content">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
          <h1 class="site-title">UMKC <span class="roo">Ro(o's)</span>Bot</h1>
          <p class="site-desc"><strong>I'm your Ro(o)Bot. Feel free to ask me your queries</strong></p>
        
          <div class="d-flex flex-row justify-content-center">
            <input type="button" class="btn site-btn btn-light mr-4" value="Know More">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-1">
    <div class="container text-center">
      <h1 class="heading-1">Services Offered</h1>
      <p class="para-1">
        The Roo's Bot offers you various services like Guiding to different blocks,
        schedule of courses, events happening in the campus and many more.
      </p>

      <div class="row first justify-content-centertext-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-map-o fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">Directions</h4>
              <p class="card-text">
                Provides the directions to different blocks and helps students to reach their destination.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-book fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">Courses</h4>
              <p class="card-text">
                You can check for the courses available in the University.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-university fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">UMKC Pathway</h4>
              <p class="card-text">
                You can get information regaridng the enrollments to classes and Fee payments.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row second justify-content-centertext-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">Sodexo</h4>
              <p class="card-text">
                You can know the work timings of the sodexoand avaialble food options.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">Appointments</h4>
              <p class="card-text">
                You can booka an appointment with the Faculty, Academic advisors and even medical appointments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width:20rem">
            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
            <div class="card-body">
              <h4 class="card-title">Events</h4>
              <p class="card-text">
                Get to know the events happening in the campus and many more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="chatbot">
    <img src="images/chat-icon-latest.png" alt="Computer Hope" onclick="openForm()">
 </div> -->

 <!-- <div class="chat-popup" id="myForm">
    <form class="form-container">
      <h1>Chat</h1>
  
      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>
  
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div> -->
</main>
